.debug {
    border: 1px solid red;
}

.dvh-100 {
    height: 100dvh;
}

.nav-bg {
    background: rgb(137, 63, 255);
}

.card-anime {
    transition: all 0.3s ease;
}

.card-anime:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-img img {
    transition: all 0.3s ease;
}

.card-img img:hover {
    transform: scale(1.05);
}