body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}



input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
}

input[type="button"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.container {
    background-color: #fff;
    padding: 2em;
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

.form-container {
    background-color: #fff;
    padding: 2em;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
}

.input-group {
    margin-bottom: 1em;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #555;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}